.container > :not(:last-child) {
  flex-grow: 1;
  min-width: 380px;
}

.container > :last-child {
  max-width: 260px;
  flex-grow: 1;
}

@media (max-width: 1037px) {
  .container > :last-child {
    max-width: none;
  }
}

@media (min-width: 1037px) {
  .container > :last-child {
    max-width: none;
  }
}
